In [4]:
import pandas as pd
import numpy as np

In [8]:
dataf = pd.read_csv('/content/bd_students_per_v2.csv')
display(dataf.head())

,id,full_name,age,gender,location,family_size,mother_education,father_education,mother_job,father_job,...,tutoring,school_type,attendance,extra_curricular_activities,english,math,science,social_science,art_culture,stu_group
0,2,Avi Biswas,16,Male,Urban,6,SSC,HSC,No,No,...,Yes,Private,95,Yes,95,98,92,94,98,Science
1,3,Taslima Sultana,18,Female,Rural,6,SSC,HSC,No,Yes,...,No,Semi_Govt,92,No,65,71,40,78,80,Commerce
2,4,Md Adilur Rahman,15,Male,Rural,4,SSC,SSC,Yes,Yes,...,Yes,Govt,81,Yes,64,78,58,86,74,Commerce
3,5,Saleh Ahmed,16,Male,Rural,6,SSC,SSC,Yes,Yes,...,Yes,Private,90,Yes,84,90,85,86,88,Science
4,6,Din Islam,17,Male,Urban,5,Honors,Masters,No,Yes,...,Yes,Semi_Govt,75,Yes,54,70,45,79,76,Commerce

Warning: Total number of columns (24) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
dataf.isnull().sum()

id                              0
full_name                       0
age                             0
gender                          0
location                        1
family_size                     0
mother_education               10
father_education                4
mother_job                      0
father_job                      0
guardian                        0
parental_involvement            0
internet_access                 0
studytime                       0
tutoring                        0
school_type                     0
attendance                      0
extra_curricular_activities     0
english                         0
math                            0
science                         0
social_science                  0
art_culture                     0
stu_group                       0
dtype: int64

In [ ]:
dataf = dataf.dropna()
dataf.isnull().sum()

id                             0
full_name                      0
age                            0
gender                         0
location                       0
family_size                    0
mother_education               0
father_education               0
mother_job                     0
father_job                     0
guardian                       0
parental_involvement           0
internet_access                0
studytime                      0
tutoring                       0
school_type                    0
attendance                     0
extra_curricular_activities    0
english                        0
math                           0
science                        0
social_science                 0
art_culture                    0
stu_group                      0
dtype: int64

In [ ]:
# There is no duplicated values
dataf.duplicated().sum()

np.int64(0)

In [22]:
# We take two label
# 1. pass_fail which predict the students whether passed or failed
# 2. cgpa will predict the the students grade
# Here we also take take new column 'avg_score' of english and math and function
# cf() just for an example.

dataf["avg_score"] = (dataf["english"]+dataf["math"])/2
dataf["pass_fail"] = (dataf["avg_score"] >=60).astype(int)
def cg(score):
    if score >= 80:
      return 4.0
    elif score >= 70:
      return 3.5
    elif score >= 60:
      return 3.0
    else:
      return 2.5
dataf["cgpa"] = dataf["avg_score"].apply(cg)
display(dataf[["full_name", "english", "math", "avg_score", "pass_fail", "cgpa"]])

             full_name  english  math  avg_score  pass_fail  cgpa
0           Avi Biswas       95    98       96.5          1   4.0
1      Taslima Sultana       65    71       68.0          1   3.0
2     Md Adilur Rahman       64    78       71.0          1   3.5
3          Saleh Ahmed       84    90       87.0          1   4.0
4            Din Islam       54    70       62.0          1   3.0
...                ...      ...   ...        ...        ...   ...
8607      Elina Khanam       81    83       82.0          1   4.0
8608       Sadiq Ghosh       95   100       97.5          1   4.0
8609        Arman Amin       45    59       52.0          0   2.5
8610     Tawhidul Saif       59    65       62.0          1   3.0
8611        Naimul Sen       87    95       91.0          1   4.0

[8612 rows x 6 columns]